

/*============ Social Icon Styles ============ */

.social-icons-2 {
	width: 100%;
	padding: 0px;
	margin: 0px;
	display:inline-block;
}
.social-icons-2 li {
	padding: 0px;
	margin: 0px;
	display:inline-block;
	text-align: center;
}
.social-icons-2 li a {
	width: 40px;
	height: 40px;
	padding: 0px;
	margin: 0 5px 5px 0;
	text-align: center;
	font-size: 16px;
	color: #fff;
	line-height: 39px;
	display:inline-block;
	background-color: #fd602c;
}
.social-icons-2 li a:hover {
	color: #fff;
	background-color: #161616;
}

.social-icons-1.round li a, .social-icons-2.round li a, .social-icons-3.round li a {
	border-radius:100%;
}

/* Social Icon Style 2
 ------------------------------ */
 
.socialicon-style2 {
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
}
.socialicon-style2 li {
	padding: 0px;
	margin: 0px;
	float: left;
	text-align: center;
}
.socialicon-style2 li a {
	width: 40px;
	height: 40px;
	padding: 0px;
	margin: 0 5px 5px 0;
	text-align: center;
	font-size: 16px;
	color: #161616;
	line-height: 39px;
	float: left;
	border: 1px solid #d9d9d9;
	background-color: #fff;
}
.socialicon-style2 li a:hover {
	color: #fff;
	background-color: #161616;
}


/* Social Icon Style 3
 ------------------------------ */

.social-icons-3 {
	margin: 0;
	padding: 0;
	display:inline-block;
	text-align: center;
}
.social-icons-3 li {
	display:inline-block;
}
.social-icons-3 li a {
	width: 40px;
	height: 40px;
	padding: 0px;
	margin: 0 5px 5px 0;
	text-align: center;
	font-size: 16px;
	color: #fd602c;
	line-height: 39px;
	display:inline-block;
	border-radius: 100%;
	background-color: #fff;
}
.social-icons-3 li a:hover, .social-icons-3 li a.active {
	color: #fff;
	background-color: #fd602c;
}


/* Social Icon Style 4
 ------------------------------ */

.socialicon-style4 {
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
}
.socialicon-style4 li {
	padding: 0px;
	margin: 0px;
	float: left;
	text-align: center;
}
.socialicon-style4 li a {
	width: 40px;
	height: 40px;
	padding: 0px;
	margin: 0 5px 5px 0;
	text-align: center;
	font-size: 16px;
	color: #161616;
	line-height: 39px;
	float: left;
	border-radius: 100%;
	background-color: #fff;
	border: 1px solid #d9d9d9;
}
.socialicon-style4 li a:hover {
	color: #fff;
	border: 1px solid #161616;
	background-color: #161616;
}


/* Social Icon Style 5
 ------------------------------ */

.socialicon-style5 {
	padding: 0px;
	margin: 0px;
	float: left;
}
.socialicon-style5 li {
	padding: 0px;
	margin-right: 5px;
	float: left;
	display: inline;
}
.socialicon-style5 li a {
	width: 45px;
	height: 45px;
	padding: 0px;
	float: left;
	color: #fff;
	margin: 0 0 5px 0;
	font-size: 18px;
	line-height: 43px;
	display: inline;
	text-align: center;
	background-color: #06d0d8;
}
.socialicon-style5 li a i {
	color: #fff;
	font-size: 16px;
	line-height: 30px;
}
.socialicon-style5 li a.twitter {
	background-color: #46c0ff;
}
.socialicon-style5 li a.twitter:hover {
	background-color: #272727;
}
.socialicon-style5 li a.facebook {
	background-color: #2e68be;
}
.socialicon-style5 li a.facebook:hover {
	background-color: #272727;
}
.socialicon-style5 li a.googleplus {
	background-color: #e74a35;
}
.socialicon-style5 li a.googleplus:hover {
	background-color: #272727;
}
.socialicon-style5 li a.in {
	background-color: #097fc3;
}
.socialicon-style5 li a.in:hover {
	background-color: #272727;
}
.socialicon-style5 li a.dribble {
	background-color: #f44193;
}
.socialicon-style5 li a.dribble:hover {
	background-color: #272727;
}

/* Social Icon Style 6
 ------------------------------ */

.socialicon-style6 {
	padding: 0px;
	margin: 0px;
	float: left;
}
.socialicon-style6 li {
	padding: 0px;
	margin-right: 5px;
	float: left;
	display: inline;
}
.socialicon-style6 li a {
	width: 45px;
	height: 45px;
	padding: 0px;
	margin: 0 0 5px 0;
	float: left;
	color: #fff;
	font-size: 18px;
	line-height: 43px;
	display: inline;
	text-align: center;
	border-radius: 100%;
	background-color: #06d0d8;
}
.socialicon-style6 li a i {
	color: #fff;
	font-size: 16px;
	line-height: 30px;
}
.socialicon-style6 li a.twitter {
	background-color: #46c0ff;
}
.socialicon-style6 li a.twitter:hover {
	background-color: #272727;
}
.socialicon-style6 li a.facebook {
	background-color: #2e68be;
}
.socialicon-style6 li a.facebook:hover {
	background-color: #272727;
}
.socialicon-style6 li a.googleplus {
	background-color: #e74a35;
}
.socialicon-style6 li a.googleplus:hover {
	background-color: #272727;
}
.socialicon-style6 li a.in {
	background-color: #097fc3;
}
.socialicon-style6 li a.in:hover {
	background-color: #272727;
}
.socialicon-style6 li a.dribble {
	background-color: #f44193;
}
.socialicon-style6 li a.dribble:hover {
	background-color: #272727;
}


/*---------------------new style------------------------------------------*/

.padd0{
	padding:0px !important;
	}
.paddbott{
	padding-bottom:0px !important;
	}
.back{
	background: #000;
    opacity: 0.8;
	}
.marg0{
	margin:0px !important;
	}

.searchbox {
   width: 100%;
    
    position: absolute; 
   
    left: 0;
    color: #f0f0f0;
    
    background-color: #ffffff57;
    padding: 24px;
    border-radius: 2px;
}
.search-home{
	position: absolute;
    bottom: 110px;
}
.view-text{
	text-decoration:underline;
	color: #02008c !important;
	}
.text-2{
	font-size:15px;
	}
.text-3{
	font-size:12px;
	color: #ed0000;
    font-weight: 700;
	}
	
.add-text h3{
	font-size:15px;
	margin-bottom:0px;
	}
.add-text p{
	font-size:12px;
	margin-bottom:0px;
	}
.br-sectore{
	font-size: 13px;
    margin-bottom: 0px !important;
	}
.overlay-box{
	background-color: #33333320;
    width: 100%;
    /* overflow: hidden; */
    position: absolute;
    height: 100%;
    z-index: 10000;
	}
.price-bord{
	border:solid 0px #ddd;
	padding:5px;
	}	



